In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql

In [2]:
books = pd.read_csv('LibBooks.csv')
members = pd.read_csv('LibMems.csv')

In [3]:
USER = 'kctey'
PASSWORD = 'CQu1FxSp'
HOST = '127.0.0.1'
PORT = 3306
DATABASE = 'Library'

engine = create_engine('mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(
        USER, PASSWORD, HOST, PORT, DATABASE
))
cursor = engine.connect()

In [5]:
sql_statement = 'select * from member_test'

table_df = pd.read_sql(
    sql_statement,
    con=engine
)
table_df

,﻿memberid,name,faculty,phone number,email address
0,A101A,Hermione Granger,Science,33336663,flying@als.edu
1,A201B,Sherlock Holmes,Law,44327676,elementarydrw@als.edu
2,A301C,Tintin,Engineering,14358788,luvmilu@als.edu
3,A401D,Prinche Hamlet,FASS,16091609,tobeornot@als.edu
4,A5101E,Willy Wonka,FASS,19701970,choco1@als.edu
5,A601F,Holly Golightly,Business,55548008,diamond@als.edu
6,A701G,Raskolnikov,Law,18661866,oneaxe@als.edu
7,A801H,Patrick Bateman,Business,38548544,mice@als.edu
8,A901I,Captain Ahab,Science,18511851,wwhale@als.edu